body {
  margin: 0;
}

html, body, svg {
  height: 100%;
  width: 100%;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

html[ready] * {
  transition: transform 50ms;
}

path#cloud {
  animation: 5s linear infinite alternate blow;
}

g#dagger[data-position="start"] {
  transform: translate(330px,115px) scale(0.1);
}

g#dagger[data-position="hold"] {
  transform: translate(33px,-90px) scale(0.1);
}

g#character[data-crouching] > g#dagger {
  transform: translate(33px,-60px) scale(0.1);
}

g#character[data-attacking] > g#dagger {
  transform: translate(35px,-105px) scale(0.1);
}

g#character[data-crouch-attacking] > g#dagger {
  transform: translate(85px,-55px) rotate(90deg) scale(0.1);
}

/*
g#dagger[updown] {
  transform: translate(were it ispx,groundpx) scale(0.1);
}*/

@keyframes blow {
  100% {
    transform: translate(500px,0);
  }
}
